{% extends "blog/base.html" %}

{% load bootstrap3 %}

{% block title %}Welcome{% endblock title %}

{% block content %}

  <div class="row">
    {% bootstrap_messages %}

    <div class="col-sm-6 col-md-4 col-lg4">
      <p class="sticky taped2" style="width: 250px;">
        <strong>Welcome {{ request.user.name }}!</strong><br>
        The site has<br />
        authenticated you.
         <!--
         and <br> possibly retrieved<br />
        your picture and details<br />
        from <a href='http://en.gravatar.com/' target='_blank'>Gravatar</a>.
      -->
      </p>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Picture</h3>
      <p class="picture-frame">
      {% if user.profile.avatar_url %}<img alt="" src="{{user.profile.avatar_url}}" style="width: 256px; height: 256px">
      {% else %}No picture available yet.{% endif %}
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Profile</h3>
      <ul class="list-unstyled">
        <li>First name: <strong>{{user.first_name}}</strong></li>
        <li>Last name: <strong>{{user.last_name}}</strong></li>
        <li>Display name: <strong>{{user.display_name}}</strong></li>
        <li>Email: <strong>{{user.email}}</strong></li>
        <li>
          {% if request.user.emailaddress_set.first.verified %}
            Verified
          {% else %}
            Unverified
          {% endif %}
        </li>
      </ul>
      <a class="btn btn-primary" href="{% url 'account_profile' %}">
        <i class="fa fa-pencil fa-lg"></i>
        &nbsp;Edit
      </a>
    </div>
  </div>

{% endblock content %}
