doc
doc/*
*.sublime-workspace
*/*secret.py
*/settings_email.py
*/settings_cryptoblog.py
*/settings_secret.py
*/settings_local.py
blog/encryption.py
*.pyc
__pycache__
/static
.DS_Store
local_settings.py
notes.secret.txt
*.hide.txt
*.secret.txt
diffsettings*
*.tmp
*.swp
*.db
*.sqlite3
*.iml
.idea
DEL
*.sql
*.bak
mypy*
myvenv
*.secret.txt
*/*.secret.txt
*/*.deleteme
*.deleteme
*/*.zip
*.zip
*.hide.txt
*/*.hide.txt
*/encryption.py
postgres-cheatsheet.md
*.*~
*/*.*~
Rakefile

*.html.txt
*/*.html.txt
