*.pyc
*.tmp
*.swp
*.db
*.sqlite3
*/settings_email.py
*/settings_cryptoblog.py
*.iml
.idea
DEL
*.sql
*.bak
mypy*
myvenv
*.secret.txt
*/*.deleteme
*.deleteme
*/*.zip
*.zip
*.hide.txt
*/*.hide.txt
*/encryption.py
blog/encryption.py

# */settings_*.py
