backports.ssl-match-hostname==3.4.0.2
blivet==0.61.0.27
Brlapi==0.6.0
cffi==1.3.0
chardet==2.2.1
configobj==4.7.2
configshell-fb==1.1.14
coverage==3.6b3
cryptography==1.0.2
cupshelpers==1.0
decorator==3.4.0
di==0.3
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-bootstrap3==6.2.2
django-toolbelt==0.0.1
dnspython==1.11.1
enum34==1.0.4
ethtool==0.8
firstboot==19.5
freeipa==2.0.0a0
fros==1.0
glusterfs-api==3.6.0.29
gunicorn==19.3.0
idna==2.0
iniparse==0.4
initial-setup==0.3.9.23
ipaddr==2.1.9
ipaddress==1.0.14
ipaplatform==4.1.0
ipapython==4.1.0
IPy==0.75
javapackages==1.0.0
kerberos==1.1
kitchen==1.1.1
kmod==0.1
langtable==0.0.13
lxml==3.2.1
M2Crypto==0.21.1
netaddr==0.7.5
policycoreutils-default-encoding==0.1
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pycups==1.9.63
pycurl==7.19.0
pygobject==3.8.2
pygpgme==0.3
pyinotify==0.9.4
pykickstart==1.99.43.17
pyliblzma==0.5.3
pyOpenSSL==0.13.1
pyparsing==1.5.6
pyparted==3.9
python-augeas==0.4.1
python-dateutil==1.5
python-default-encoding==0.1
python-dmidecode==3.10.13
python-ldap==2.4.15
python-meh==0.25.2
python-nss==0.16.0
python-yubico==1.2.1
pytz===2012d
pyudev==0.15
pyusb==1.0.0b1
pyxattr==0.5.1
qrcode==5.0.1
rhsm==1.13.10
rtslib-fb==2.1.50
seobject==0.1
sepolicy==1.1
setroubleshoot==1.1
six==1.10.0
slip==0.4.0
slip.dbus==0.4.0
SSSDConfig==1.12.2
static3==0.6.1
suds==0.4.1
targetcli-fb===2.1.fb37
urlgrabber==3.10
urwid==1.1.1
virtualenv==13.1.2
yum-langpacks==0.4.2
yum-metadata-parser==1.1.4
