{% extends 'blog/base.html' %}

{% block content %}
    <h1>Unpublished Posts for: {{ user.username }}</h1>
    {% for post in posts %}
        <div class="post">
            <p class="date">
                created: {{ post.created_date|date:'m-d-Y' }}
            </p>
            <p class="author">
                author: {{ post.author }}
            </p> 
            <h2>
                <a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h2>

            <p>{{ post.text|truncatechars:200 }}</p>


   <a href="{% url "blog.views.post_detail" pk=post.pk %}">    Comments: {{ post.comments.count }}
    </a>


            
        </div>
    {% endfor %}
{% endblock %}
