{% extends 'blog/base.html' %}

{% block content %}
    <h4 class="post-list-title">Your Unpublished Posts ({{ draft_posts|length }})</h4>
    {% for post in draft_posts %}
    <div class="post">
        <p class="date">
            created: {{ post.created_date|date:'m-d-Y' }}
        </p>
        <p class="author">
            author: {{ post.author.name }}
        </p> 
        <h3>
            <a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h3>

    {% if post.is_encrypted %}

    <h5>Ciphertext
        {% if post.ciphertext != post.ciphertext|truncatechars_html:350 %} 
        (<a href="{% url 'blog.views.post_detail' pk=post.pk %}">truncated</a>)
        {% endif %}:
    </h5>
    <div class="ciphertext">
        <p>
            {{ post.ciphertext|truncatechars_html:350 }}
        </p>
    </div>
    
    {% else %}
    
    <h5>Plaintext
        {% if post.text != post.text|truncatechars_html:350 %} 
        (<a href="{% url 'blog.views.post_detail' pk=post.pk %}">truncated</a>)
        {% endif %}:
    </h5>

    <div class="plaintext">    
        <p>
            {{ post.text|truncatechars_html:350 }}
        </p>
    </div>

    {% endif %}

            <a href="{% url "blog.views.post_detail" pk=post.pk %}">
                Comments: {{ post.comments.count }}
            </a>
            
        </div>
    {% endfor %}
{% endblock %}
