{% extends "blog/base.html" %}


{% block page-header %}
post_detail.html REPLACEMENT HEADER!!

    <!-- Fixed navbar -->
        <!-- hello from block nav in allauthdemo/templates/bases/bootstrap-member.html -->
    <div class="navbar navbar-default navbar-static-top navbar-shadow" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'blog.views.post_list' %}">
            <span class="app_title">
              {{ APP_TITLE|lower }} 
              <span style="font-size:8px;">alpha</span>
            </span>
            <span>
             :: Members Area
            </span>
           </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- li><a href="{% url 'user_home' %}">Home</a></li -->
            <li>
              <a href="{% url 'user_home' %}"  class="top-menu">
                  <span class="glyphicon glyphicon-home"  style="color: #428BCA !important;"></span>
              </a>
            </li>



            <li>
                <a href="{% url 'about' %}"  class="btn btn-default"  style="padding: 2px 4px; margin-top:14px; margin-bottom:14px; margin-right:15px;>
                <!--span class="glyphicon glyphicon-question-sign"  style="color: #428BCA !important;"></span-->

                    <i class="fa fa-question fa-lg"></i>
                    &nbsp;About
                </a>
            </li>

            <li><a href="{% url 'user_action' %}" class="top-menu">
              <span class="app_title_small">
              {{ APP_TITLE|lower }} posts
              </span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin: 0 20px 0 0 !important;">
                <strong> {{ user.display_name }}</strong> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Account</li>
                <li><a href="{% url 'account_profile' %}"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="{% url 'account_email' %}"><i class="fa fa-envelope"></i> Email Addresses</a></li>
                <li><a href="{% url 'socialaccount_connections' %}"><i class="fa fa-facebook"></i> Social Networks</a></li>
                <li><a href="{% url 'account_change_password' %}"><i class="fa fa-lock"></i> Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Sign Out</a></li>
              </ul>
            </li>
            <li>{% if user.profile.avatar_url %}<img alt="" style="width:50px; height:50px" src="{{user.profile.avatar_url}}">{% endif %}</li>

          </ul>
        </div>
      </div>
    </div>





{% endblock page-header %}
  




{% block content %}

<div class="post">
    {% if post.published_date %}
        <div class="date">
            published: {{ post.published_date }}
        </div>
        <p class="author">
                author: {{ post.author.name }}
        </p>
        <!--user: {{ user }}
        post.author: {{ post.author }} -->
        {% ifequal user post.author %}
        <a class="btn btn-default" href="{% url 'blog.views.post_unpublish' pk=post.pk %}">Unpublish</a>
        {% endifequal %}
    {% else %}
        <div class="date">
           created: {{ post.created_date }}
        </div>
        <p class="author">
                author: {{ post.author.name }}
        </p>
        {% ifequal user post.author %}
            <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
        {% endifequal %}
    {% endif %}

    {% if user.is_authenticated  %}
        {% ifequal user post.author %}
            {% if not post.is_encrypted %}
                <a class="btn btn-default" href="{% url "post_edit" pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}

    

        {% endifequal %}

        {% ifequal user post.author %}
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        {% endifequal %}
    {% else %}
        <a href="{% url "account_login" %}" class="top-menu">
            <span  class="glyphicon glyphicon-lock">
        </a>
    {% endif %}

    {% ifequal user post.author %}
    {% if not post.is_encrypted %}
        <a class="btn btn-default" href="{% url 'post_encrypt' pk=post.pk %}">
            <span class="glyphicon glyphicon-lock"></span>
        </a>

        <a class="btn btn-default" href="{% url 'post_encrypt' pk=post.pk %}">
            <i class="fa fa-lock fa-lg"></i>&nbsp;Encrypt 
        </a>

        {% else %}
        <a class="btn btn-default" href="{% url 'post_decrypt' pk=post.pk %}">
            <i class="fa fa-key fa-lg"></i>&nbsp;Decrypt 
        </a>
        <a class="btn btn-default" href="{% url 'post_decrypt' pk=post.pk %}">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
    {% endif %} 
        <a class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-send"></span>
        </a>

    {% endifequal %}

    <h2>{{ post.title }}</h2>

        {% if not post.is_encrypted %}
        <h4>Plaintext:</h4>
        <p>{{ post.text|linebreaks }}</p>
        {% else %}
        <h4>Ciphertext:</h4>
        <p>{{ post.ciphertext|linebreaks }}</p>
        {% endif %}
    </div>
    <hr>
    <a  class="btn btn-default" href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a>

    {% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}

            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

            <a class="btn btn-default" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}

        </div>
        <div>comment author: {{ comment.author.name }}</div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% empty %}
    <p class="k-nocomment">No comments here yet :-(</p>
    {% endfor %}

{% endblock %}
