{% extends "blog/base.html" %}

{% block content %}

<div class="post">
    {% if post.published_date %}
        <div class="date">
            published: {{ post.published_date }}
        </div>
        <p class="author">
                author: {{ post.author.name }}
        </p>
        <!--user: {{ user }}
        post.author: {{ post.author }} -->
        {% if user.is_authenticated  %}

        <a title="Email this post" class="btn btn-primary" href="{% url 'post_email' pk=post.pk %}">
            <span class="glyphicon glyphicon-send"></span>Email
        </a>

            {% ifequal user post.author %}
                <a title="Unpublished this published post" class="btn btn-primary" href="{% url 'blog.views.post_unpublish' pk=post.pk %}">Unpublish</a>
            {% endifequal %}
        {% endif %}
    {% else %}
        <div class="date">
           created: {{ post.created_date }}
        </div>
        <p class="author">
            author: {{ post.author.name }}
        </p>
        {% ifequal user post.author %}
            <a title="Publish your post" class="btn btn-primary" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
        {% endifequal %}
    {% endif %}

    {% if user.is_authenticated  %}
        {% ifequal user post.author %}
            {% if not post.is_encrypted %}
            <a title="Edit your post" class="btn btn-primary" href="{% url "post_edit" pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {% endif %}    
        <!-- { % endifequal % }
        { % ifequal user post.author % }  -->
            <a title="Delete this post" class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        {% endifequal %}
    {% else %}
        <a title="Login" href="{% url "account_login" %}" class="top-menu">
            <span style="margin-left: 0; margin-left: 0;" class="glyphicon glyphicon-lock">
        </a>
    {% endif %}

    {% ifequal user post.author %}
        {% if not post.is_encrypted %}

        <a title="Encrypt this post" class="btn btn-primary" href="{% url 'post_encrypt' pk=post.pk %}">
            <i class="fa fa-lock fa-lg"></i>&nbsp;Encrypt 
        </a>

        {% else %}
        <a title="Decrypt this post" class="btn btn-primary" href="{% url 'post_decrypt' pk=post.pk %}">
            <i class="fa fa-key fa-lg"></i>&nbsp;Decrypt 
        </a>
        {% endif %} 
        <!--
        <a title="Email this post" class="btn btn-primary" href="{   % url 'post_email' pk=post.pk %  }">
            <span class="glyphicon glyphicon-send"></span>Email
        </a>
    -->
    {% endifequal %}

    <h2 class="blog-post-title">{{ post.title }}</h2>

    {% if not post.is_encrypted %}
    <h4>Plaintext:</h4>
    <div class="plaintext">
        {{ post.text|linebreaks }}
    </div>
    {% else %}
    <h4>Ciphertext:</h4>
    <div class="ciphertext">
        {{ post.ciphertext|linebreaks }}
    </div>
    {% endif %}
</div><!-- /post -->

<hr>
<a  class="btn btn-primary" href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a>

{% for comment in post.comments.all %}
<div class="comment">
    <div class="date">
        {{ comment.created_date }}

        {% if not comment.approved_comment %}
        <a class="btn btn-primary" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

        <a class="btn btn-primary" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
        {% endif %}

    </div>
    <div>comment author: {{ comment.author.name }}</div>
    <p>{{ comment.text|linebreaks }}</p>
</div>
{% empty %}
<p class="k-nocomment">No comments here yet :-(</p>
{% endfor %}

{% endblock %}
