html, body, #k-container { height: 100%; }
body > #k-container { height: auto; min-height: 100%; }

div.jumbotron {
    background-image: url(../images/onetimepad-17pct-opacity.png);
    background-color: #EEE;
/*    background-size: contain;
    background-position: bottom;  */
/*    opacity: 0.4;  */
}

.btn-primary > span.glyphicon {
    color: white;
}

.navbar-nav > li > a, .navbar-nav > li > p {
    color: #428BCA; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.post-list-title {
    font-size: 18px;
    font-weight: bold;
}

.nav .navbar-nav .navbar-right {
    padding-right: 20px;
}

ul.navbar-right > li  > a {
    color: #428BCA;
    margin-right: 5px;
}

.navbar {
    color: #428BCA;
}

.navbar-default .navbar-nav > li > a {
     color: #428BCA;
}

.navbar-nav > li > a:focus {
    color: #226BFF;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #55F;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #99F;
    background-color: transparent;
}

.page-footer {
   /* background-color: #ff9400;  */
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin-top: 10px;
    padding: 20px 20px 20px 40px;
}

.page-footer h1, .page-footer h1 a, .page-footer h1 a:visited, .page-footer h1 a:active {
    /* color: #ffffff;  */
    font-size: 36pt;
    text-decoration: none;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    /* height: 3em;
   */
    margin-top: -3em;
}

.content {
    margin-left: 40px;
}

#k-content { padding-bottom: 3em; }
/*
h2, h3, h4, h5 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'zian';
}
*/
.app_title {
    font-family: 'zian';
    color: #428BCA !important;
    font-size: 36px;
    position: relative;
    top: 4px;
}

.app_title_small {
    font-family: 'zian';
    color: #428BCA !important;
    font-size: 16px;
}

.glyphicon-home {
    /* color: #428BCA !important;  */
}

span.glyphicon {
/*    color: #428BCA !important; */
/*    padding-left: 8px; */
        padding-right: 8px;
}

.date {
    float: right;
    color: #828282;
}

.author {
    float: right;
    color: #828282;
    margin: 0 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-form input#id_password {
    width: 200px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    /* color: #ffffff; */
    float: right;
    font-size: 16pt;
   /* margin-right: 20px !important;  
    margin: 0 10px 0 0;  */
}

.post {
    margin-bottom: 70px;
}

.ciphertext {
    color: red;
    word-wrap: break-word; 

}

.plaintext {
    word-wrap: break-word; 

}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment    {
                margin: 20px    0px 20px    20px;
}

.k-nocomment {
    margin: 10px 0 10px 0;
}

/*
login page
*/

.k_label   {
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.k_input {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.devstage {
    font-size: 16px;
}

label {
    font-weight: normal;
}

input#id_password {
    /* margin-left: 5px;
    margin-right: 5px; */
}

input#id_save_password {
    margin-left: 5px;
    margin-right: 5px;
}
 
.blog-post-title {
    color: #428BCA;
}

.dropdown-toggle, .glyphicon {
    color: #428BCA;
}

i.fa {
    width: 20px;
}
/*
p.hello_guest {
font-size: 14px;
line-height: 20px;
margin-right: 5px;
margin-bottom: 0;
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
padding-top: 15px;

    color: #428BCA;
}
*/
